<h1> Welcome! <%= @user.username %> </h1>
 <%if @user.image.attached? %>
    <%= image_tag @user.image.variant(resize_to_fit: [300, 200])%>
    <%end%>
<p> <%= link_to "Edit Your Account", edit_user_path(@user) %> </p>