.header {
    background-color: rgb(14, 105, 180);
    height: 75px;
}

body > #bg {
    height: 100%;
    width: 100%;
    background-color: rgb(216, 216, 216);
    clip-path: polygon(70% 8%, 100% 23%, 100% 54%, 75% 100%, 0 63%, 0 0);
    position: absolute;
    z-index: -1;
}

.htext {
    color: honeydew;
}