
<header><h1> <%= @current_user.username %> reviews: </h1></header>
<ol>
    <% @reviews.each do |review| %>
    <li>
        <%= link_to review.content, review_path(review) %>
    </li>
    <% end %>
</ol>
