
<header><h1>Podcasts</h1></header>
<% @podcasts.each do |podcast| %>
<%= link_to podcast.title, podcast_path(podcast) %> <br/>
<% end %>

<h2><%= link_to "Profile", user_path(@current_user) %> </h2>
