<h1>Podcasts</h1>
<% @podcasts.each do |podcast| %>
<ul><li><%= link_to podcast.title, podcast_path(podcast) %></li></ul> 
<% end %>
<br/>
<p><%= link_to "Back to Profile", user_path(@current_user) %> </p>
