<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="users.scss">
    <meta charset="UTF-8">
    <meta name="description" content="Podcast review website">
    <meta name="keywords" content="Podcasts, Reviews, Community">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Earwig</title>
</head>
<body>
<header><h1>Podcasts</h1></header>
<% @podcasts.each do |podcast| %>
<%= link_to podcast.title, podcast_path(podcast) %> <br/>
<% end %>
</body>
</html>